In [1]:
from __future__ import print_function
from __future__ import division


import pylab as pl
import numpy as np
import pandas as pd
import os
import json
import requests
import re

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
data = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9')

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8,17,39,40,47,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,31911011,11/05/2015 02:59:15 AM,NaN,DOT,Department of Transportation,Street Condition,Pothole,NaN,11224,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.573431,-73.991742,"(40.57343122248129, -73.99174247588253)"
1,31908754,11/05/2015 02:09:49 AM,NaN,CHALL,CHALL,Opinion for the Mayor,HOUSING,NaN,NaN,NaN,...,NaN,NaN,NaN,1-1-1173130914,NaN,NaN,NaN,NaN,NaN,NaN
2,31910423,11/05/2015 02:06:51 AM,NaN,DPR,Department of Parks and Recreation,Root/Sewer/Sidewalk Condition,Trees and Sidewalks Program,Street,11234,1157 EAST 57 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.625004,-73.920726,"(40.62500363580505, -73.92072558378698)"
3,31909924,11/05/2015 02:02:20 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11218,722 EAST 4 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.634522,-73.974790,"(40.634522428879706, -73.97479041437481)"
4,31913310,11/05/2015 01:57:20 AM,11/05/2015 01:57:31 AM,HRA,HRA Benefit Card Replacement,Benefit Card Replacement,Medicaid,NYC Street Address,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Park Facility Name', 'Park Borough',
       'School Name', 'School Number', 'School Region', 'School Code',
       'School Phone Number', 'School Address', 'School City', 'School State',
       'School Zip', 'School Not Found', 'School or Citywide Complaint',
       'Vehicle Type', 'Taxi Company Borough', 'Taxi Pick Up Location',
       'Bridge Highway Name', 'Bridge Highway Direction', 'Road Ramp',
       'Bridge Highway Segment', 'Garage Lot Name', 'Ferry Direction',
       'Ferry Terminal Name', 'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [5]:
uniqueCommunityBoards = data['Community Board'].unique()

In [6]:
print (uniqueCommunityBoards)

['13 BROOKLYN' '0 Unspecified' '18 BROOKLYN' '12 BROOKLYN'
 '02 STATEN ISLAND' '08 MANHATTAN' '06 BROOKLYN' '10 BRONX' '06 MANHATTAN'
 '04 BROOKLYN' '04 QUEENS' '09 MANHATTAN' '14 BROOKLYN' '05 MANHATTAN'
 '02 MANHATTAN' '10 QUEENS' '07 QUEENS' '02 QUEENS' '11 BROOKLYN'
 '05 QUEENS' '05 BROOKLYN' '09 QUEENS' '12 MANHATTAN' '01 BROOKLYN'
 '11 MANHATTAN' '03 BRONX' '03 STATEN ISLAND' '08 BROOKLYN' '03 BROOKLYN'
 '07 MANHATTAN' '10 MANHATTAN' '04 BRONX' '01 MANHATTAN' '07 BRONX'
 '09 BRONX' '03 MANHATTAN' '13 QUEENS' '02 BRONX' '12 QUEENS' '16 BROOKLYN'
 '08 QUEENS' '04 MANHATTAN' '14 QUEENS' '10 BROOKLYN' '11 QUEENS'
 '06 BRONX' '08 BRONX' '05 BRONX' '15 BROOKLYN' '02 BROOKLYN' '12 BRONX'
 '03 QUEENS' '06 QUEENS' '01 STATEN ISLAND' '01 BRONX' '01 QUEENS'
 '17 BROOKLYN' '11 BRONX' 'Unspecified QUEENS' '09 BROOKLYN'
 'Unspecified MANHATTAN' 'Unspecified BROOKLYN' '07 BROOKLYN'
 'Unspecified BRONX' '64 MANHATTAN' '81 QUEENS' '55 BROOKLYN' '83 QUEENS'
 'Unspecified STATEN ISLAND' '28 BRONX' '80 QUEENS' '26 BRONX'
 '95 STATEN ISLAND' '82 QUEENS' '27 BRONX' '56 BROOKLYN' '84 QUEENS']

In [7]:
uniqueCommunityBoards.sort()

print (uniqueCommunityBoards)

['0 Unspecified' '01 BRONX' '01 BROOKLYN' '01 MANHATTAN' '01 QUEENS'
 '01 STATEN ISLAND' '02 BRONX' '02 BROOKLYN' '02 MANHATTAN' '02 QUEENS'
 '02 STATEN ISLAND' '03 BRONX' '03 BROOKLYN' '03 MANHATTAN' '03 QUEENS'
 '03 STATEN ISLAND' '04 BRONX' '04 BROOKLYN' '04 MANHATTAN' '04 QUEENS'
 '05 BRONX' '05 BROOKLYN' '05 MANHATTAN' '05 QUEENS' '06 BRONX'
 '06 BROOKLYN' '06 MANHATTAN' '06 QUEENS' '07 BRONX' '07 BROOKLYN'
 '07 MANHATTAN' '07 QUEENS' '08 BRONX' '08 BROOKLYN' '08 MANHATTAN'
 '08 QUEENS' '09 BRONX' '09 BROOKLYN' '09 MANHATTAN' '09 QUEENS' '10 BRONX'
 '10 BROOKLYN' '10 MANHATTAN' '10 QUEENS' '11 BRONX' '11 BROOKLYN'
 '11 MANHATTAN' '11 QUEENS' '12 BRONX' '12 BROOKLYN' '12 MANHATTAN'
 '12 QUEENS' '13 BROOKLYN' '13 QUEENS' '14 BROOKLYN' '14 QUEENS'
 '15 BROOKLYN' '16 BROOKLYN' '17 BROOKLYN' '18 BROOKLYN' '26 BRONX'
 '27 BRONX' '28 BRONX' '55 BROOKLYN' '56 BROOKLYN' '64 MANHATTAN'
 '80 QUEENS' '81 QUEENS' '82 QUEENS' '83 QUEENS' '84 QUEENS'
 '95 STATEN ISLAND' 'Unspecified BRONX' 'Unspecified BROOKLYN'
 'Unspecified MANHATTAN' 'Unspecified QUEENS' 'Unspecified STATEN ISLAND']

All Community Boards are represented in the dataset but some of the Community Boards mentioned don't exist.
The following Community Boards don't exist: '0 Unspecified' '26 BRONX'
 '27 BRONX' '28 BRONX' '55 BROOKLYN' '56 BROOKLYN' '64 MANHATTAN'
 '80 QUEENS' '81 QUEENS' '82 QUEENS' '83 QUEENS' '84 QUEENS'
 '95 STATEN ISLAND' 'Unspecified BRONX' 'Unspecified BROOKLYN'
 'Unspecified MANHATTAN' 'Unspecified QUEENS' 'Unspecified STATEN ISLAND'

In [8]:
#Find how many unique values for Community Boards
len(uniqueCommunityBoards)

77

In [9]:
#Are there duplicates?
print (len (data))
print (len (data['Unique Key'].unique()))

10187766
10187744

In [10]:
#They are not the same length so there are duplicates
#What are the duplicates?
duplicates = data[data.duplicated('Unique Key')]
duplicates

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
4248298,26003579,07/26/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,10302,131 HARRISON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.636835,-74.138796,"(40.63683487948972, -74.13879629882382)"
4253082,26020434,07/25/2013 12:00:00 AM,08/05/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,10462,1909 BARNES AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.848845,-73.863631,"(40.8488451919449, -73.86363125763393)"
4253086,26012011,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11225,440 BROOKLYN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.664148,-73.945482,"(40.66414769632634, -73.94548172836168)"
4253091,26002968,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,11237,406 SUYDAM STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.705703,-73.920175,"(40.705702500630075, -73.92017516512333)"
4253092,26020332,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Other (Explain Below),11213,780 ST MARKS AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.675023,-73.946814,"(40.67502312706964, -73.94681393618372)"
4253095,26033513,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,10302,60 AVENUE B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.636351,-74.129806,"(40.63635131789832, -74.12980576711388)"
4253097,26011524,07/25/2013 12:00:00 AM,08/02/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,10031,1484 AMSTERDAM AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.817860,-73.953008,"(40.817859804380014, -73.95300779968848)"
4253098,26011777,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Other (Explain Below),11221,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.691219,-73.939679,"(40.6912192567118, -73.93967921077531)"
4253100,26011611,07/25/2013 12:00:00 AM,08/02/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,10467,2309 HOLLAND AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.859953,-73.865586,"(40.85995256353461, -73.86558595844559)"
4253101,26028900,07/25/2013 12:00:00 AM,08/06/2013 10:54:57 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,10302,22 JEWETT AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.636904,-74.128820,"(40.63690412970023, -74.12881960785445)"
4253103,26011682,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Mouse Sighting,3+ Family Apt. Building,11237,398 STANHOPE STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.705085,-73.916053,"(40.705084740960004, -73.9160534139846)"
4253104,26028912,07/25/2013 12:00:00 AM,08/06/2013 10:41:46 AM,DOHMH,Department of Health and Mental Hygiene,Unsanitary Animal Pvt Property,Animal Waste,1-2 Family Dwelling,10302,18 JEWETT AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.636934,-74.128809,"(40.63693433443217, -74.12880885701975)"
4253106,26033604,07/25/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11225,456 BROOKLYN AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.663665,-73.945529,"(40.66366463760264, -73.94552898151792)"
4257847,26050731,07/24/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,3+ Family Apt. Building,11237,14 IRVING AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.705429,-73.925665,"(40.70542895549614, -73.92566496179228)"
4257850,26048748,07/24/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,1-2 Family Dwelling,11210,1521 EAST 23 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.613212,-73.951070,"(40.613212457611496, -73.95107004320182)"
4257854,26044811,07/24/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Mixed Use Building,11201,30 COLUMBIA PLACE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.692997,-73.998677,"(40.692997199564864, -73.99867657112512)"
4257859,26045795,07/24/2013 12:00:00 AM,08/05/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,11207,1493 BUSHWICK AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.683062,-73.906815,"(40.683061832920096, -73.90681490555575)"
4257860,26047763,07/24/2013 12:00:00 AM,08/01/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,10011,456 WEST 22 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.746476,-74.003378,"(40.74647604427205, -74.00337799399065)"
4257862,26049793,07/24/2013 12:00:00 AM,08/09/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,3+ Family Apt. Building,11233,1819 PROSPECT PLACE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.672458,-73.915918,"(40.67245754368937, -73.91591783719936)"
4257863,26048661,07/24/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,3+ Family Apt. Building,11230,1259 EAST 13 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.618893,-73.962081,"(40.61889284968798, -73.96208101005551)"
4257866,26044898,07/24/2013 12:00:00 AM,08/06/2013 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,1-2 Family Dwelling,10302,111 INNIS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.634368,-74.144581,"(40.63436841871342, -74.144581045052)"
4257868,26050656,07/24/2013 12:00:00 AM,08/06/2013 11:37:06 AM,DOHMH,Department of Health and Mental Hygiene,Unsanitary Animal Pvt Property,Animal Odor,3+ Family Apartment Building,11225,580 EMPIRE BOULEVARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.664070,-73.943110,"(40.66406969404813, -73.9431100244629)"

### The duplicates are mostly for complaints about rodents. People may call at the same time to complain and we can drop them.

In [11]:
#Drop the duplicates
UniqueData = data.drop_duplicates(['Unique Key'])
print (UniqueData.shape)

(10187744, 53)

In [12]:
#What columns have missing vales?
UniqueData.isnull().sum()

Unique Key                               0
Created Date                             0
Closed Date                         450879
Agency                                   0
Agency Name                              0
Complaint Type                           0
Descriptor                           31057
Location Type                      3067596
Incident Zip                        794159
Incident Address                   2197705
Street Name                        2198558
Cross Street 1                     2375942
Cross Street 2                     2425792
Intersection Street 1              8345267
Intersection Street 2              8346281
Address Type                        490299
City                                788712
Landmark                          10180434
Facility Type                      8579463
Status                                   0
Due Date                           7120286
Resolution Description             3786739
Resolution Action Updated Date      250932
Community Board                          0
Borough                                  0
X Coordinate (State Plane)          878752
Y Coordinate (State Plane)          878752
Park Facility Name                       0
Park Borough                             0
School Name                              0
School Number                         2283
School Region                        56197
School Code                          56196
School Phone Number                      0
School Address                           6
School City                              0
School State                             0
School Zip                               5
School Not Found                   7151698
School or Citywide Complaint      10185390
Vehicle Type                      10180242
Taxi Company Borough              10177579
Taxi Pick Up Location             10089185
Bridge Highway Name               10152649
Bridge Highway Direction          10152701
Road Ramp                         10152964
Bridge Highway Segment            10135758
Garage Lot Name                   10183411
Ferry Direction                   10185001
Ferry Terminal Name               10181220
Latitude                            878752
Longitude                           878752
Location                            878752
dtype: int64

In [13]:
com_grp = UniqueData[['Community Board','Borough','Agency']].groupby(["Community Board",'Borough'])
com_dists = com_grp.agg('count')
com_dists.head()

                              Agency
Community Board Borough
0 Unspecified   Unspecified  1109446
01 BRONX        BRONX          74631
01 BROOKLYN     BROOKLYN      185057
01 MANHATTAN    MANHATTAN      77974
01 QUEENS       QUEENS        171484

In [14]:
# Generate marker for unplausible Community Districts
# How do these districts look like? 
# Code borrowed from Scott Smith's HW8

UniqueData["valid_board"] = np.ones(len(UniqueData.Borough), np.float)
for bname in com_dists.itertuples():
    if re.match(r"[01]\d", bname[0][0]) == None:
        UniqueData.valid_board.loc[UniqueData['Community Board'] == bname[0][0]] = np.nan
UniqueData.valid_board.isnull().sum()

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/pandas/core/indexing.py:132: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

2076821

In [15]:
# Drop the marked districts
UniqueData = UniqueData[~UniqueData['valid_board'].isnull()]

In [16]:
plausibleCB = UniqueData['Community Board'].unique()
plausibleCB.sort()
print (plausibleCB)

['01 BRONX' '01 BROOKLYN' '01 MANHATTAN' '01 QUEENS' '01 STATEN ISLAND'
 '02 BRONX' '02 BROOKLYN' '02 MANHATTAN' '02 QUEENS' '02 STATEN ISLAND'
 '03 BRONX' '03 BROOKLYN' '03 MANHATTAN' '03 QUEENS' '03 STATEN ISLAND'
 '04 BRONX' '04 BROOKLYN' '04 MANHATTAN' '04 QUEENS' '05 BRONX'
 '05 BROOKLYN' '05 MANHATTAN' '05 QUEENS' '06 BRONX' '06 BROOKLYN'
 '06 MANHATTAN' '06 QUEENS' '07 BRONX' '07 BROOKLYN' '07 MANHATTAN'
 '07 QUEENS' '08 BRONX' '08 BROOKLYN' '08 MANHATTAN' '08 QUEENS' '09 BRONX'
 '09 BROOKLYN' '09 MANHATTAN' '09 QUEENS' '10 BRONX' '10 BROOKLYN'
 '10 MANHATTAN' '10 QUEENS' '11 BRONX' '11 BROOKLYN' '11 MANHATTAN'
 '11 QUEENS' '12 BRONX' '12 BROOKLYN' '12 MANHATTAN' '12 QUEENS'
 '13 BROOKLYN' '13 QUEENS' '14 BROOKLYN' '14 QUEENS' '15 BROOKLYN'
 '16 BROOKLYN' '17 BROOKLYN' '18 BROOKLYN']

In [17]:
#Create new column to count the complaints
UniqueData['Complaints'] = np.zeros(len(UniqueData['valid_board']))
com_grp = UniqueData[['Community Board', 'Borough',
                    'Complaints']].groupby(['Community Board', 'Borough'])
comp_by_board = com_grp.agg({'Complaints' : 'count'})

In [18]:
#Sort by Number of Complaints
comp_by_board.sort('Complaints')

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

                                Complaints
Community Board  Borough
02 BRONX         BRONX               60257
13 BROOKLYN      BROOKLYN            72362
01 BRONX         BRONX               74631
03 BRONX         BRONX               75134
01 MANHATTAN     MANHATTAN           77974
16 BROOKLYN      BROOKLYN            85466
06 QUEENS        QUEENS              90938
08 BRONX         BRONX               92733
11 MANHATTAN     MANHATTAN           95413
10 BRONX         BRONX               95496
04 QUEENS        QUEENS              99316
06 BRONX         BRONX               99547
11 QUEENS        QUEENS             101908
14 QUEENS        QUEENS             103396
06 MANHATTAN     MANHATTAN          104249
07 BROOKLYN      BROOKLYN           107031
10 BROOKLYN      BROOKLYN           111837
06 BROOKLYN      BROOKLYN           114029
02 QUEENS        QUEENS             114333
02 BROOKLYN      BROOKLYN           121021
02 STATEN ISLAND STATEN ISLAND      121132
03 QUEENS        QUEENS             122009
11 BRONX         BRONX              122079
08 QUEENS        QUEENS             123131
09 MANHATTAN     MANHATTAN          127564
10 QUEENS        QUEENS             128116
04 MANHATTAN     MANHATTAN          132659
02 MANHATTAN     MANHATTAN          133860
09 BROOKLYN      BROOKLYN           135830
03 STATEN ISLAND STATEN ISLAND      136487
10 MANHATTAN     MANHATTAN          137344
04 BROOKLYN      BROOKLYN           139702
11 BROOKLYN      BROOKLYN           139890
08 BROOKLYN      BROOKLYN           141118
05 MANHATTAN     MANHATTAN          142028
15 BROOKLYN      BROOKLYN           146129
09 BRONX         BRONX              147457
08 MANHATTAN     MANHATTAN          149076
03 MANHATTAN     MANHATTAN          150296
12 BROOKLYN      BROOKLYN           150320
09 QUEENS        QUEENS             151242
07 MANHATTAN     MANHATTAN          151419
18 BROOKLYN      BROOKLYN           156100
05 BRONX         BRONX              161078
13 QUEENS        QUEENS             163851
12 BRONX         BRONX              168455
05 QUEENS        QUEENS             168570
01 QUEENS        QUEENS             171484
04 BRONX         BRONX              181953
01 STATEN ISLAND STATEN ISLAND      182708
01 BROOKLYN      BROOKLYN           185057
07 BRONX         BRONX              185729
14 BROOKLYN      BROOKLYN           187792
05 BROOKLYN      BROOKLYN           189765
17 BROOKLYN      BROOKLYN           191720
07 QUEENS        QUEENS             195961
03 BROOKLYN      BROOKLYN           197305
12 QUEENS        QUEENS             229383
12 MANHATTAN     MANHATTAN          268053

## 4 Interpretation of Results
### What do you have to keep in mind when interpreting your results? Are they generable? Does the way the data is collected influence your results? To better inform city agancies it might be good to explore in more detail the underlying dempgraphics/infrastructure of a Community District becasue this might influence 311 calls. You can do this by merging external data on the Community District level to your analysis data.

In [19]:
#get demographic data
demog = pd.read_csv('http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv')
demog.head()

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

In [20]:
#What variables are in the file?
demog.columns.values

array(['FIPS', 'cd_id', 'Total Population',
       'Population Density (per sq. mile)', '% Total Population: Male',
       '% Total Population: 18 to 24 Years',
       '% Total Population: 25 to 34 Years',
       '% Total Population: 35 to 44 Years',
       '% Population 5 Years And Over: Speak Only English',
       '% Population 5 Years And Over: Spanish or Spanish Creole',
       '% Population 5 Years And Over: Spanish or Spanish Creole: Speak English "very Well"',
       '% Population 5 Years And Over: Spanish or Spanish Creole: Speak English Less Than "very Well"',
       'Population 25 Years and over:',
       'Population 25 Years and over: Less Than High School',
       'Population 25 Years and over: High School Graduate (includes equivalency)',
       'Population 25 Years and over: Some college',
       "Population 25 Years and over: Bachelor's degree",
       "Population 25 Years and over: Master's degree",
       'Population 25 Years and over: Professional school degree',
       'Population 25 Years and over: Doctorate degree',
       '% Population 25 Years and over: Less Than High School',
       '% Population 25 Years and over: High School Graduate (includes equivalency)',
       '% Population 25 Years and over: Some college',
       "% Population 25 Years and over: Bachelor's degree",
       "% Population 25 Years and over: Master's degree",
       '% Population 25 Years and over: Professional school degree',
       '% Population 25 Years and over: Doctorate degree',
       'Population 25 Years and over:.1',
       'Population 25 Years and over: Less Than High School.1',
       'Population 25 Years and over: High School Graduate or more (includes equivalency)',
       'Population 25 Years and over: Some college or more',
       "Population 25 Years and over: Bachelor's degree or more",
       "Population 25 Years and over: Master's degree or more",
       'Population 25 Years and over: Professional school degree or more',
       'Population 25 Years and over: Doctorate degree.1',
       '% Population 25 Years and over: Less Than High School.1',
       '% Population 25 Years and over: High School Graduate or more (includes equivalency)',
       '% Population 25 Years and over: Some college or more',
       "% Population 25 Years and over: Bachelor's degree or more",
       "% Population 25 Years and over: Master's degree or more",
       '% Population 25 Years and over: Professional school degree or more',
       '% Population 25 Years and over: Doctorate degree.1',
       'Population 3 Years and over:',
       'Population 3 Years and over: Enrolled in School',
       'Population 3 Years and over: Not Enrolled in School',
       '% Population 3 Years and over: Enrolled in School',
       '% Population 3 Years and over: Not Enrolled in School',
       'Population 3 Years and over Enrolled In School',
       'Population 3 Years and over Enrolled In School: Public School',
       'Population 3 Years and over Enrolled In School: Public School: Pre-school',
       'Population 3 Years and over Enrolled In School: Public School: K-8',
       'Population 3 Years and over Enrolled In School: Public School: 9-12',
       'Population 3 Years and over Enrolled In School: Public School: College',
       'Population 3 Years and over Enrolled In School: Private School',
       'Population 3 Years and over Enrolled In School: Private School: Pre-school',
       'Population 3 Years and over Enrolled In School: Private School: K-8',
       'Population 3 Years and over Enrolled In School: Private School: 9-12',
       'Population 3 Years and over Enrolled In School: Private School: College',
       '% Population 3 Years and over Enrolled In School: Public School',
       '% Population 3 Years and over Enrolled In School: Public School: Pre-school',
       '% Population 3 Years and over Enrolled In School: Public School: K-8',
       '% Population 3 Years and over Enrolled In School: Public School: 9-12',
       '% Population 3 Years and over Enrolled In School: Public School: College',
       '% Population 3 Years and over Enrolled In School: Private School',
       '% Population 3 Years and over Enrolled In School: Private School: Pre-school',
       '% Population 3 Years and over Enrolled In School: Private School: K-8',
       '% Population 3 Years and over Enrolled In School: Private School: 9-12',
       '% Population 3 Years and over Enrolled In School: Private School: College',
       'Employed civilian Population 16 Years and over:',
       'Employed civilian Population 16 Years and over: Management, business, and financial operations  occupations',
       'Employed civilian Population 16 Years and over: Professional and related occupations',
       'Employed civilian Population 16 Years and over: Healthcare support occupations',
       'Employed civilian Population 16 Years and over: Protective service occupations',
       'Employed civilian Population 16 Years and over: Food preparation and serving related occupations',
       'Employed civilian Population 16 Years and over: Building and grounds cleaning and maintenance  occupations',
       'Employed civilian Population 16 Years and over: Personal care and service occupations',
       'Employed civilian Population 16 Years and over: Sales and related occupations',
       'Employed civilian Population 16 Years and over: Office and administrative support occupations',
       'Employed civilian Population 16 Years and over: Farming, fishing, and forestry occupations',
       'Employed civilian Population 16 Years and over: Construction, extraction, and maintenance  occupations',
       'Employed civilian Population 16 Years and over: Production occupations',
       'Employed civilian Population 16 Years and over: Transportation and material moving occupations',
       '% Employed civilian Population 16 Years and over: Management, business, and financial operations  occupations',
       '% Employed civilian Population 16 Years and over: Professional and related occupations',
       '% Employed civilian Population 16 Years and over: Healthcare support occupations',
       '% Employed civilian Population 16 Years and over: Protective service occupations',
       '% Employed civilian Population 16 Years and over: Food preparation and serving related occupations',
       '% Employed civilian Population 16 Years and over: Building and grounds cleaning and maintenance  occupations',
       '% Employed civilian Population 16 Years and over: Personal care and service occupations',
       '% Employed civilian Population 16 Years and over: Sales and related occupations',
       '% Employed civilian Population 16 Years and over: Office and administrative support occupations',
       '% Employed civilian Population 16 Years and over: Farming, fishing, and forestry occupations',
       '% Employed civilian Population 16 Years and over: Construction, extraction, and maintenance  occupations',
       '% Employed civilian Population 16 Years and over: Production occupations',
       '% Employed civilian Population 16 Years and over: Transportation and material moving occupations',
       'Employed Civilian Population 16 Years And Over:',
       'Employed Civilian Population 16 Years And Over: Private Sector',
       'Employed Civilian Population 16 Years And Over: Public Sector',
       'Employed Civilian Population 16 Years And Over: Self-Employed (incorporated and not incorporated)',
       'Employed Civilian Population 16 Years And Over: Private Non-Profit',
       'Employed Civilian Population 16 Years And Over: Unpaid Family Workers',
       '% Employed Civilian Population 16 Years And Over: Private Sector',
       '% Employed Civilian Population 16 Years And Over: Public Sector',
       '% Employed Civilian Population 16 Years And Over: Self-Employed (incorporated and not incorporated)',
       '% Employed Civilian Population 16 Years And Over: Private Non-Profit',
       '% Employed Civilian Population 16 Years And Over: Unpaid Family Workers',
       'Households:', 'Households: Less than $10,000',
       'Households: $10,000 to $14,999', 'Households: $15,000 to $19,999',
       'Households: $20,000 to $24,999', 'Households: $25,000 to $29,999',
       'Households: $30,000 to $34,999', 'Households: $35,000 to $39,999',
       'Households: $40,000 to $44,999', 'Households: $45,000 to $49,999',
       'Households: $50,000 to $59,999', 'Households: $60,000 to $74,999',
       'Households: $75,000 to $99,999',
       'Households: $100,000 to $124,999',
       'Households: $125,000 to $149,999',
       'Households: $150,000 to $199,999', 'Households: $200,000 or More',
       '% Households: Less than $10,000',
       '% Households: $10,000 to $14,999',
       '% Households: $15,000 to $19,999',
       '% Households: $20,000 to $24,999',
       '% Households: $25,000 to $29,999',
       '% Households: $30,000 to $34,999',
       '% Households: $35,000 to $39,999',
       '% Households: $40,000 to $44,999',
       '% Households: $45,000 to $49,999',
       '% Households: $50,000 to $59,999',
       '% Households: $60,000 to $74,999',
       '% Households: $75,000 to $99,999',
       '% Households: $100,000 to $124,999',
       '% Households: $125,000 to $149,999',
       '% Households: $150,000 to $199,999',
       '% Households: $200,000 or More',
       'Median household income (In 2014 Inflation Adjusted Dollars)',
       'Per capita income (In 2014 Inflation Adjusted Dollars)',
       'Employed Civilian Population 16 Years And Over:.1',
       'Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       'Employed Civilian Population 16 Years And Over: Service occupations',
       'Employed Civilian Population 16 Years And Over: Sales and office occupations',
       'Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       'Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations',
       '% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       '% Employed Civilian Population 16 Years And Over: Service occupations',
       '% Employed Civilian Population 16 Years And Over: Sales and office occupations',
       '% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       '% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       '% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations'], dtype=object)

In [21]:
#How many community districts are in the file?
print ("There are " + str(len(demog['cd_id'])) + " community districts represented in the file.")

There are 59 community districts represented in the file.

In [22]:
#Find out some information by District

# Set some variables to refer to column names in df_pop
# Use these variables to refer to columns instead of the full names
Popn = "Total Population"
Dense = "Population Density (per sq. mile)"
PctEnglish = "% Population 5 Years And Over: Speak Only English"
PctEngWell = '% Population 5 Years And Over: Spanish or Spanish Creole: Speak English "very Well"'
PctEngNotWell = '% Population 5 Years And Over: Spanish or Spanish Creole: Speak English Less Than "very Well"'
PctBach = "% Population 25 Years and over: Bachelor's degree or more"
PctMaster = "% Population 25 Years and over: Master's degree or more"
PctProf = "% Population 25 Years and over: Professional school degree or more"
PctDoctorate = "% Population 25 Years and over: Doctorate degree.1"
Bach = "Population 25 Years and over: Bachelor's degree or more"
Master = "Population 25 Years and over: Master's degree or more"
Prof = "Population 25 Years and over: Professional school degree or more"
Doctorate = "Population 25 Years and over: Doctorate degree.1"

In [28]:
# Manipulate data to get some information on demographics by Community District. 
# Who might call 311?
# Two factors. One, the likelihood of reasons in their neighborhood to call 311.
# Two, propensity to react to one of those reasons.

# Preponderance of reasons would come with density, low income, and not speaking English well
# Likeliness of responding to such reasons would come from education
demog['Low Income'] = (demog["Households: Less than $10,000"] +
                        demog["Households: $10,000 to $14,999"] +
                        demog["Households: $15,000 to $19,999"] +
                        demog["Households: $20,000 to $24,999"] +
                        demog["Households: $25,000 to $29,999"])
demog['Pct Low Income'] = (demog["% Households: Less than $10,000"] +
                        demog["% Households: $10,000 to $14,999"] +
                        demog["% Households: $15,000 to $19,999"] +
                        demog["% Households: $20,000 to $24,999"] +
                        demog["% Households: $25,000 to $29,999"])
demog_income = demog[["FIPS", "cd_id", Popn, Dense, PctEnglish, PctEngWell, PctEngNotWell,
                      Bach, Master, Prof, Doctorate, "Low Income", "Pct Low Income"]]

demog_income

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Population 5 Years And Over: Speak Only English,"% Population 5 Years And Over: Spanish or Spanish Creole: Speak English ""very Well""","% Population 5 Years And Over: Spanish or Spanish Creole: Speak English Less Than ""very Well""",Population 25 Years and over: Bachelor's degree or more,Population 25 Years and over: Master's degree or more,Population 25 Years and over: Professional school degree or more,Population 25 Years and over: Doctorate degree.1,Low Income,Pct Low Income
0,3603701,BX08,106737,31229.950060,46.80,24.01,15.24,28677,13421,5205,1885,13161,31.31
1,3603702,BX12,134644,19966.678390,73.09,12.12,6.07,20682,5466,213,151,15204,33.92
2,3603703,BX10,121209,12913.817030,61.79,19.51,6.92,23341,8959,1361,725,12867,27.34
3,3603704,BX11,135839,35677.954530,43.22,22.78,13.66,22500,10174,3168,1246,15169,33.76
4,3603705,BX03,172247,39405.792220,36.82,30.09,24.14,11694,3781,1237,743,34586,60.09
5,3603705,BX06,172247,39405.792220,28.21,31.86,27.67,11694,3781,1237,743,34586,60.09
6,3603706,BX07,135893,86487.077920,29.10,30.34,32.15,15350,3872,905,307,20666,43.74
7,3603707,BX05,132850,87974.348600,29.84,28.79,30.65,9931,3463,658,295,27407,61.31
8,3603708,BX04,141467,71270.882190,42.97,26.89,20.67,13564,3501,502,385,26049,54.34
9,3603709,BX09,190126,42752.506900,33.62,29.07,31.95,20089,5968,579,48,27570,43.08
10,3603710,BX01,167147,34412.075240,27.49,29.48,37.06,8798,2403,670,599,32407,62.08
11,3603710,BX02,167147,34412.075240,49.63,19.61,16.40,8798,2403,670,599,32407,62.08
12,3603801,MN12,224365,75217.432870,68.39,11.23,7.16,47549,19577,5165,2470,26167,34.71
13,3603802,MN09,130739,77402.950100,47.08,24.19,16.38,36347,16568,6250,3116,18536,39.07
14,3603803,MN10,132027,91244.889890,74.19,5.06,1.88,35363,15679,4953,1488,23621,41.39
15,3603804,MN11111,129713,56066.264730,71.81,7.17,3.75,23741,8535,3503,734,24204,48.68
16,3603805,MN08,221898,109960.139600,67.27,7.61,3.92,143746,71200,29567,8200,16859,14.68
17,3603806,MN07,192374,65024.961090,73.38,5.36,1.06,117918,70490,28228,7761,16111,16.57
18,3603807,MN05,149447,48626.990950,45.29,13.08,7.56,88753,40322,11092,3979,15995,19.32
19,3603807,MN04,149447,48626.990950,73.93,4.26,1.11,88753,40322,11092,3979,15995,19.32
20,3603808,MN06,143349,87333.791040,78.30,3.39,1.13,91533,45406,15894,3462,13858,17.25
21,3603809,MN03,152453,87256.670150,63.29,4.42,2.31,53158,20357,4093,1330,30892,41.98
22,3603810,MN01,159903,53928.053600,65.31,11.77,7.54,103296,44912,16524,5801,13745,16.36
23,3603810,MN02,159903,53928.053600,44.94,12.89,9.45,103296,44912,16524,5801,13745,16.36
24,3603901,SI03,170741,6968.306388,36.45,26.79,30.27,38799,14725,2922,878,11767,20.41
25,3603902,SI02,126200,6371.997113,68.91,9.52,7.04,27844,11130,2573,710,9843,21.73
26,3603903,SI01,176338,12537.604960,71.43,9.00,4.59,34141,12633,3318,963,20070,32.34
27,3604001,BK01,154713,37671.510580,72.48,9.81,5.71,54231,17028,3956,757,18034,28.64
28,3604002,BK04,137368,54279.761230,78.17,6.30,3.57,20874,5126,874,313,18524,38.93
29,3604003,BK03,133235,58004.868160,77.10,10.83,6.47,24538,8501,1954,582,22339,44.06
30,3604004,BK02,139070,44719.888150,57.49,21.65,10.91,58666,26786,8237,2003,12473,21.80
31,3604005,BK06,125062,31218.503280,69.33,3.81,2.67,65089,32706,10699,2942,6389,12.85
32,3604006,BK08,126747,57010.543560,80.23,3.61,2.03,31471,12476,3505,1246,17912,35.64
33,3604007,BK16,123772,47796.011830,71.10,5.09,2.87,9189,2788,563,182,24058,54.35
34,3604008,BK05,155863,26394.764690,25.03,16.50,21.19,14967,4541,311,206,25458,46.18
35,3604009,BK18,210957,15374.526180,44.62,5.72,3.76,44256,17040,2751,1091,15253,21.80
36,3604010,BK17,137526,44659.444610,31.11,3.93,6.87,20843,7179,913,183,17735,34.98
37,3604011,BK09,109337,64006.179970,50.85,5.85,7.23,23453,8222,2075,339,14850,35.97
38,3604012,BK07,152685,36736.915040,43.33,3.01,2.23,27115,9608,2817,1414,15300,33.37
39,3604013,BK10,128545,33069.986680,27.63,4.14,6.62,35199,13903,4518,1217,15654,32.21
40,3604014,BK12,170011,54054.487510,31.65,4.90,6.04,26590,11316,3105,1141,17529,38.06
41,3604015,BK14,180723,62164.359800,41.83,12.48,11.68,42115,15817,2843,1176,20301,33.18
42,3604016,BK15,137815,31829.054410,16.12,24.93,37.52,40424,15985,3528,1237,17333,32.31
43,3604017,BK11,187637,50644.631520,27.57,7.33,7.47,40401,13723,2924,544,20763,33.38
44,3604018,BK13,110727,32537.409220,40.57,5.60,3.41,25370,8575,2600,376,22681,50.33
45,3604101,QN01,182860,35800.759600,66.19,5.66,3.59,61052,21055,4737,2059,21420,28.26
46,3604102,QN03,182354,44839.980490,40.08,9.50,6.20,27154,8299,2036,461,16991,30.26
47,3604103,QN07,256742,21836.668490,15.29,18.68,29.39,47168,17555,4459,1479,28696,32.17
48,3604104,QN11,120996,12991.169540,36.98,8.47,4.09,38752,16084,3758,1716,7065,16.32
49,3604105,QN13,193102,9812.563966,27.17,13.91,16.59,37039,13355,2755,726,10509,17.53
50,3604106,QN08,159330,21412.216470,47.31,15.18,10.12,39766,16770,4833,1774,14752,27.01
51,3604107,QN04,154740,42497.737460,40.05,20.25,14.26,25298,8259,1877,671,15247,33.21
52,3604108,QN06,107893,38598.784620,71.64,6.78,7.87,46322,19944,7155,2583,12764,25.08
53,3604109,QN02,150100,25142.587280,65.22,12.38,6.76,38550,14103,3403,1096,12244,23.25
54,3604110,QN05,168488,23005.322980,68.93,8.97,9.12,30366,9969,1823,419,15970,26.47
55,3604111,QN09,151202,31804.100680,NaN,NaN,NaN,23875,8147,2128,455,10148,22.57
56,3604112,QN12,251002,27089.677200,NaN,NaN,NaN,35565,11212,1604,391,21696,28.99
57,3604113,QN10,134827,21979.770830,NaN,NaN,NaN,17835,5680,1308,267,9491,24.95
58,3604114,QN14,107944,9541.923526,NaN,NaN,NaN,19733,9232,2573,763,15408,39.15

In [29]:
#rename columns so they match the community district in the 311 dataset
demog['cd_id'] = demog['cd_id'].map(lambda x: x.replace('BX', 'BRONX '))
demog['cd_id'] = demog['cd_id'].map(lambda x: x.replace('MN', 'MANHATTAN '))
demog['cd_id'] = demog['cd_id'].map(lambda x: x.replace('BK', 'BROOKLYN '))
demog['cd_id'] = demog['cd_id'].map(lambda x: x.replace('QN', 'QUEENS '))
demog['cd_id'] = demog['cd_id'].map(lambda x: x.replace('SI', 'STATEN_ISLAND '))

In [31]:
#clean the error in Manhattan 11
demog['cd_id'] = demog['cd_id'].map(lambda x: x.replace('11111', '11'))

In [32]:
demog['cd_id']

0             BRONX 08
1             BRONX 12
2             BRONX 10
3             BRONX 11
4             BRONX 03
5             BRONX 06
6             BRONX 07
7             BRONX 05
8             BRONX 04
9             BRONX 09
10            BRONX 01
11            BRONX 02
12        MANHATTAN 12
13        MANHATTAN 09
14        MANHATTAN 10
15        MANHATTAN 11
16        MANHATTAN 08
17        MANHATTAN 07
18        MANHATTAN 05
19        MANHATTAN 04
20        MANHATTAN 06
21        MANHATTAN 03
22        MANHATTAN 01
23        MANHATTAN 02
24    STATEN_ISLAND 03
25    STATEN_ISLAND 02
26    STATEN_ISLAND 01
27         BROOKLYN 01
28         BROOKLYN 04
29         BROOKLYN 03
30         BROOKLYN 02
31         BROOKLYN 06
32         BROOKLYN 08
33         BROOKLYN 16
34         BROOKLYN 05
35         BROOKLYN 18
36         BROOKLYN 17
37         BROOKLYN 09
38         BROOKLYN 07
39         BROOKLYN 10
40         BROOKLYN 12
41         BROOKLYN 14
42         BROOKLYN 15
43         BROOKLYN 11
44         BROOKLYN 13
45           QUEENS 01
46           QUEENS 03
47           QUEENS 07
48           QUEENS 11
49           QUEENS 13
50           QUEENS 08
51           QUEENS 04
52           QUEENS 06
53           QUEENS 02
54           QUEENS 05
55           QUEENS 09
56           QUEENS 12
57           QUEENS 10
58           QUEENS 14
Name: cd_id, dtype: object

In [37]:
#switch the order of the community district number and borough to align with the 311 dataset
for i in range (0,len(demog)):
    demog['cd_id'][i] = (demog['cd_id'].str.split(' '))[i][1] + ' ' + (demog['cd_id'].str.split(' '))[i][0]

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [38]:
demog['cd_id']

0             08 BRONX
1             12 BRONX
2             10 BRONX
3             11 BRONX
4             03 BRONX
5             06 BRONX
6             07 BRONX
7             05 BRONX
8             04 BRONX
9             09 BRONX
10            01 BRONX
11            02 BRONX
12        12 MANHATTAN
13        09 MANHATTAN
14        10 MANHATTAN
15        11 MANHATTAN
16        08 MANHATTAN
17        07 MANHATTAN
18        05 MANHATTAN
19        04 MANHATTAN
20        06 MANHATTAN
21        03 MANHATTAN
22        01 MANHATTAN
23        02 MANHATTAN
24    03 STATEN_ISLAND
25    02 STATEN_ISLAND
26    01 STATEN_ISLAND
27         01 BROOKLYN
28         04 BROOKLYN
29         03 BROOKLYN
30         02 BROOKLYN
31         06 BROOKLYN
32         08 BROOKLYN
33         16 BROOKLYN
34         05 BROOKLYN
35         18 BROOKLYN
36         17 BROOKLYN
37         09 BROOKLYN
38         07 BROOKLYN
39         10 BROOKLYN
40         12 BROOKLYN
41         14 BROOKLYN
42         15 BROOKLYN
43         11 BROOKLYN
44         13 BROOKLYN
45           01 QUEENS
46           03 QUEENS
47           07 QUEENS
48           11 QUEENS
49           13 QUEENS
50           08 QUEENS
51           04 QUEENS
52           06 QUEENS
53           02 QUEENS
54           05 QUEENS
55           09 QUEENS
56           12 QUEENS
57           10 QUEENS
58           14 QUEENS
Name: cd_id, dtype: object

In [40]:
#Rename Staten Island to match the 311 dataset
demog['cd_id'] = demog['cd_id'].map(lambda x: x.replace('STATEN_ISLAND', 'STATEN ISLAND '))

In [41]:
demog['cd_id']

0              08 BRONX
1              12 BRONX
2              10 BRONX
3              11 BRONX
4              03 BRONX
5              06 BRONX
6              07 BRONX
7              05 BRONX
8              04 BRONX
9              09 BRONX
10             01 BRONX
11             02 BRONX
12         12 MANHATTAN
13         09 MANHATTAN
14         10 MANHATTAN
15         11 MANHATTAN
16         08 MANHATTAN
17         07 MANHATTAN
18         05 MANHATTAN
19         04 MANHATTAN
20         06 MANHATTAN
21         03 MANHATTAN
22         01 MANHATTAN
23         02 MANHATTAN
24    03 STATEN ISLAND
25    02 STATEN ISLAND
26    01 STATEN ISLAND
27          01 BROOKLYN
28          04 BROOKLYN
29          03 BROOKLYN
30          02 BROOKLYN
31          06 BROOKLYN
32          08 BROOKLYN
33          16 BROOKLYN
34          05 BROOKLYN
35          18 BROOKLYN
36          17 BROOKLYN
37          09 BROOKLYN
38          07 BROOKLYN
39          10 BROOKLYN
40          12 BROOKLYN
41          14 BROOKLYN
42          15 BROOKLYN
43          11 BROOKLYN
44          13 BROOKLYN
45            01 QUEENS
46            03 QUEENS
47            07 QUEENS
48            11 QUEENS
49            13 QUEENS
50            08 QUEENS
51            04 QUEENS
52            06 QUEENS
53            02 QUEENS
54            05 QUEENS
55            09 QUEENS
56            12 QUEENS
57            10 QUEENS
58            14 QUEENS
Name: cd_id, dtype: object

In [42]:
#load infrastructure data
infr = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")

In [43]:
infr.head()

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980

In [47]:
infr.columns

Index(['FIPS', 'Geographic Identifier', 'Qualifying Name', 'Households',
       'Households: With An Internet Subscription',
       'Households: Dial-Up Alone', 'Households: Dsl',
       'Households: With Mobile Broadband',
       'Households: Without Mobile Broadband', 'Households: Cable Modem',
       'Households: With Mobile Broadband.1',
       'Households: Without Mobile Broadband.1', 'Households: Fiber-Optic',
       'Households: With Mobile Broadband.2',
       'Households: Without Mobile Broadband.2',
       'Households: Satellite Internet Service',
       'Households: With Mobile Broadband.3',
       'Households: Without Mobile Broadband.3',
       'Households: Two or More Fixed Broadband Types, or Other',
       'Households: With Mobile Broadband.4',
       'Households: Without Mobile Broadband.4',
       'Households: Mobile Broadband Alone or With Dialup',
       'Households: Internet Access Without A Subscription',
       'Households: No Internet Access',
       '% Households: With An Internet Subscription', 'Households.1',
       'Households: Has A Computer',
       'Households: With Dial-Up Internet Subscription Alone',
       'Households: With A Broadband Internet Subscription',
       'Households: Without An Internet Subscription',
       'Households: No Computer'],
      dtype='object')

In [44]:
uniqueQualNames = infr['Qualifying Name'].unique()
print (uniqueQualNames)

['NYC-Bronx Community District 8--Riverdale, New York'
 'NYC-Bronx Community District 12--Wakefield, New York'
 'NYC-Bronx Community District 10--Co-op City, New York'
 'NYC-Bronx Community District 11--Pelham Parkway, New York'
 'NYC-Bronx Community District 3 & 6--Belmont, New York'
 'NYC-Bronx Community District 7--Bedford Park, New York'
 'NYC-Bronx Community District 5--Morris Heights, New York'
 'NYC-Bronx Community District 4--Concourse, New York'
 'NYC-Bronx Community District 9--Castle Hill, New York'
 'NYC-Bronx Community District 1 & 2--Hunts Point, New York'
 'NYC-Manhattan Community District 12--Washington Heights, New York'
 'NYC-Manhattan Community District 9--Hamilton Heights, New York'
 'NYC-Manhattan Community District 10--Central Harlem PUMA, New York'
 'NYC-Manhattan Community District 11--East Harlem PUMA, New York'
 'NYC-Manhattan Community District 8--Upper East Side PUMA, New York'
 'NYC-Manhattan Community District 7--Upper West Side & West Side PUMA, New York'
 'NYC-Manhattan Community District 4 & 5--Chelsea, New York'
 'NYC-Manhattan Community District 6--Murray Hill, New York'
 'NYC-Manhattan Community District 3--Chinatown & Lower East Side PUMA, New York'
 'NYC-Manhattan Community District 1 & 2--Battery Park City, New York'
 'NYC-Staten Island Community District 3--Tottenville, New York'
 'NYC-Staten Island Community District 2--New Springville & South Beach PUMA, New York'
 'NYC-Staten Island Community District 1--Port Richmond, New York'
 'NYC-Brooklyn Community District 1--Greenpoint & Williamsburg PUMA, New York'
 'NYC-Brooklyn Community District 4--Bushwick PUMA, New York'
 'NYC-Brooklyn Community District 3--Bedford-Stuyvesant PUMA, New York'
 'NYC-Brooklyn Community District 2--Brooklyn Heights & Fort Greene PUMA, New York'
 'NYC-Brooklyn Community District 6--Park Slope, New York'
 'NYC-Brooklyn Community District 8--Crown Heights North & Prospect Heights PUMA, New York'
 'NYC-Brooklyn Community District 16--Brownsville & Ocean Hill PUMA, New York'
 'NYC-Brooklyn Community District 5--East New York & Starrett City PUMA, New York'
 'NYC-Brooklyn Community District 18--Canarsie & Flatlands PUMA, New York'
 'NYC-Brooklyn Community District 17--East Flatbush, New York'
 'NYC-Brooklyn Community District 9--Crown Heights South, New York'
 'NYC-Brooklyn Community District 7--Sunset Park & Windsor Terrace PUMA, New York'
 'NYC-Brooklyn Community District 10--Bay Ridge & Dyker Heights PUMA, New York'
 'NYC-Brooklyn Community District 12--Borough Park, New York'
 'NYC-Brooklyn Community District 14--Flatbush & Midwood PUMA, New York'
 'NYC-Brooklyn Community District 15--Sheepshead Bay, New York'
 'NYC-Brooklyn Community District 11--Bensonhurst & Bath Beach PUMA, New York'
 'NYC-Brooklyn Community District 13--Brighton Beach & Coney Island PUMA, New York'
 'NYC-Queens Community District 1--Astoria & Long Island City PUMA, New York'
 'NYC-Queens Community District 3--Jackson Heights & North Corona PUMA, New York'
 'NYC-Queens Community District 7--Flushing, New York'
 'NYC-Queens Community District 11--Bayside, New York'
 'NYC-Queens Community District 13--Queens Village, New York'
 'NYC-Queens Community District 8--Briarwood, New York'
 'NYC-Queens Community District 4--Elmhurst & South Corona PUMA, New York'
 'NYC-Queens Community District 6--Forest Hills & Rego Park PUMA, New York'
 'NYC-Queens Community District 2--Sunnyside & Woodside PUMA, New York'
 'NYC-Queens Community District 5--Ridgewood, New York'
 'NYC-Queens Community District 9--Richmond Hill & Woodhaven PUMA, New York'
 'NYC-Queens Community District 12--Jamaica, New York'
 'NYC-Queens Community District 10--Howard Beach & Ozone Park PUMA, New York'
 'NYC-Queens Community District 14--Far Rockaway, New York']

In [45]:
#rename columns
infr['Qualifying Name'] = infr['Qualifying Name'].map(lambda x: x.replace('NYC-Bronx', 'BRONX'))
infr['Qualifying Name'] = infr['Qualifying Name'].map(lambda x: x.replace('NYC-Manhattan', 'MANHATTAN'))
infr['Qualifying Name'] = infr['Qualifying Name'].map(lambda x: x.replace('NYC-Brooklyn', 'BROOKLYN'))
infr['Qualifying Name'] = infr['Qualifying Name'].map(lambda x: x.replace('NYC-Queens', 'QUEENS'))
infr['Qualifying Name'] = infr['Qualifying Name'].map(lambda x: x.replace('NYC-Bronx', 'BRONX'))

Group by 311 dataset in order to get number of complaints by school board

In [46]:
infr['Qualifying Name']

0       BRONX Community District 8--Riverdale, New York
1      BRONX Community District 12--Wakefield, New York
2     BRONX Community District 10--Co-op City, New York
3     BRONX Community District 11--Pelham Parkway, N...
4     BRONX Community District 3 & 6--Belmont, New York
5     BRONX Community District 3 & 6--Belmont, New York
6     BRONX Community District 7--Bedford Park, New ...
7     BRONX Community District 5--Morris Heights, Ne...
8       BRONX Community District 4--Concourse, New York
9     BRONX Community District 9--Castle Hill, New York
10    BRONX Community District 1 & 2--Hunts Point, N...
11    BRONX Community District 1 & 2--Hunts Point, N...
12    MANHATTAN Community District 12--Washington He...
13    MANHATTAN Community District 9--Hamilton Heigh...
14    MANHATTAN Community District 10--Central Harle...
15    MANHATTAN Community District 11--East Harlem P...
16    MANHATTAN Community District 8--Upper East Sid...
17    MANHATTAN Community District 7--Upper West Sid...
18    MANHATTAN Community District 4 & 5--Chelsea, N...
19    MANHATTAN Community District 4 & 5--Chelsea, N...
20    MANHATTAN Community District 6--Murray Hill, N...
21    MANHATTAN Community District 3--Chinatown & Lo...
22    MANHATTAN Community District 1 & 2--Battery Pa...
23    MANHATTAN Community District 1 & 2--Battery Pa...
24    NYC-Staten Island Community District 3--Totten...
25    NYC-Staten Island Community District 2--New Sp...
26    NYC-Staten Island Community District 1--Port R...
27    BROOKLYN Community District 1--Greenpoint & Wi...
28    BROOKLYN Community District 4--Bushwick PUMA, ...
29    BROOKLYN Community District 3--Bedford-Stuyves...
30    BROOKLYN Community District 2--Brooklyn Height...
31    BROOKLYN Community District 6--Park Slope, New...
32    BROOKLYN Community District 8--Crown Heights N...
33    BROOKLYN Community District 16--Brownsville & ...
34    BROOKLYN Community District 5--East New York &...
35    BROOKLYN Community District 18--Canarsie & Fla...
36    BROOKLYN Community District 17--East Flatbush,...
37    BROOKLYN Community District 9--Crown Heights S...
38    BROOKLYN Community District 7--Sunset Park & W...
39    BROOKLYN Community District 10--Bay Ridge & Dy...
40    BROOKLYN Community District 12--Borough Park, ...
41    BROOKLYN Community District 14--Flatbush & Mid...
42    BROOKLYN Community District 15--Sheepshead Bay...
43    BROOKLYN Community District 11--Bensonhurst & ...
44    BROOKLYN Community District 13--Brighton Beach...
45    QUEENS Community District 1--Astoria & Long Is...
46    QUEENS Community District 3--Jackson Heights &...
47      QUEENS Community District 7--Flushing, New York
48      QUEENS Community District 11--Bayside, New York
49    QUEENS Community District 13--Queens Village, ...
50     QUEENS Community District 8--Briarwood, New York
51    QUEENS Community District 4--Elmhurst & South ...
52    QUEENS Community District 6--Forest Hills & Re...
53    QUEENS Community District 2--Sunnyside & Woods...
54     QUEENS Community District 5--Ridgewood, New York
55    QUEENS Community District 9--Richmond Hill & W...
56      QUEENS Community District 12--Jamaica, New York
57    QUEENS Community District 10--Howard Beach & O...
58    QUEENS Community District 14--Far Rockaway, Ne...
Name: Qualifying Name, dtype: object